/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.calltoaction h2{
	padding-top:36px;
	font-size:16px;
}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#menu li,#menu2 li {
	display: none;
	width:100%;
	list-style-type: none;	
	outline:none;
	margin: 0;
	}
	
#menu li a,#menu2 li a{
	color:#000;
	padding: 10px 20px;
	font-size:15px;
	font-weight:600;
	text-align:left;
	width:100%;
	display: block;
}
#menu ul,#menu2 ul{
	position: relative;
	top:-5px;
	display:block;
	margin: 0;
	padding-left:50px;
	font-size:10px;
	background-color:#EAEDEF;
	border:none;
	
}

#menu ul li a:hover,#menu2 ul li a:hover {
	 background:none; 
	 color:#000;
	}
#menu ul a,#menu2 ul a {
	font-size:13px;
	padding:0;
	margin:0;
	text-transform:capitalize;
}
#menu, #menu2{
	width:100%;
	padding: 0;
	margin: 0;
	z-index:20;
	position:absolute;
	background-color:#EAEDEF;
}
#menu{
position:static;	
}
#menu li:hover > a,#menu2 li:hover > a { 
	color: #000; 
	background:none; 
}
.logo2{
	float:right;
}

.content h4{
	font-size:70px;
}
.content h3{
	font-size:20px;
}
.content h2{
	font-size:25px;
}
.hvr-bounce-to-right{
	width:200px;
}
.content_2 h2{
	font-size:20px;
	line-height:25px;
}
.spectrum,.work,.call_us,.location{
	margin:0;
}
.spectrum h3,.work h3,.call_us h3,.location h3{
	font-size:14px;
	padding-left:60px;
}
.spectrum img, .work img,.call_us img,.location img{
	float:left;
	padding-top:17px;
}
.spectrum h2,.work h2,.call_us h2,.location h2{
	font-size:13px;
	line-height:15px;
	padding-left:60px;
	color:#5a5a5a;
}
.content_2{
	padding-top:60px;
	padding-bottom:30px;
}
.calltoaction h2{
	font-size:15px;
	text-transform:uppercase;
	line-height:15px;
	padding-top:20px;
	letter-spacing:1px;
	margin:0;
	text-align:center;
}
.make_a_reservation{
	height:45px;
	letter-spacing:2px;
	margin-left:8px;
	margin-top:10px;
}
.our_team  .team {
	padding: 40px 0 0;
}
.team_hidden{
	visibility:hidden;
	display:none;
}
.people_talk_about_us,.gallery_content,.menu_content,.contact_us,.footer,.home_page{
	height:auto;
}
.sider_container{
	padding-left:50px;
	padding-right:50px;
	margin-bottom:40px;
}
.gallery_content,.menu_content,.home_page{
	padding-bottom:20px;
}
.gallery{
	padding-top:30px;
}
.thumb img { 
  margin: 0 auto;
  } 
 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 769px) {
{
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.food_content h4{
		text-align: center;
}
.wpcf7-form-control-wrap input{
	width:70%;
}
textarea.wpcf7-form-control.wpcf7-textarea{
	width: 70%;
}
.container_1_m2{
	height:130px;
}
.menu_button2 {
margin: 0 0 0 50%;
font-size:22px;
}
.logo{
	padding-top:100px;
}

.download_button{
	font-size: 11px;
	width:auto;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

.content h4,.content_2 h1{
	font-size:40px;
}
.content h3{
	font-size:15px;
}
.content h2,.content_2 h2{
	font-size:20px;
}
.logo h1{
	font-size:35px;
}
.logo h2{
	font-size:10px;
}
.menu_button {
margin: 0 0 0 50%;
}
.content_2 h2{
	font-size:15px;
	line-height:16px;
}
.spectrum,.work,.call_us,.location{
	margin:0;
}
.spectrum h3,.work h3,.call_us h3,.location h3{
	font-size:14px;
	padding-left:60px;
}
.spectrum img, .work img,.call_us img,.location img{
	float:left;
	padding-top:17px;
}
.spectrum h2,.work h2,.call_us h2,.location h2{
	font-size:13px;
	line-height:15px;
	padding-left:60px;
	color:#5a5a5a;
}
.content_2{
	padding-top:60px;
	padding-bottom:30px;
}
.more{
	margin-top:30px;
	margin-bottom:30px;
}
.calltoaction h2{
	font-size:12px;
	text-transform:uppercase;
	line-height:15px;
	padding-top:20px;
	letter-spacing:1px;
	margin:0;
}
.make_a_reservation{
	height:45px;
	letter-spacing:2px;
	margin-left:8px;
	margin-top:10px;
}
.people_talk_about_us{
	height:auto;
}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

.logo{
	margin-top:50px;
}
.content h4,.content_2 h1{
	font-size:45px;
}
.content h3{
	font-size:15px;
}
.content h2{
	font-size:23px;
}

.content_2 h2{
	text-align:center;
	font-size:20px;
	font-weight:100;
	text-transform:uppercase;
}
.content_2 h2{
	font-size:15px;
	line-height:16px;
}
.spectrum,.work,.call_us,.location{
	margin:0;
}
.spectrum h3,.work h3,.call_us h3,.location h3{
	font-size:14px;
	padding-left:60px;
}
.spectrum img, .work img,.call_us img,.location img{
	float:left;
	padding-top:17px;
}
.spectrum h2,.work h2,.call_us h2,.location h2{
	font-size:13px;
	line-height:15px;
	padding-left:60px;
	color:#5a5a5a;
}
.content_2{
	padding-top:60px;
	padding-bottom:30px;
}
.more{
	margin-top:30px;
	margin-bottom:30px;
}
.calltoaction h2{
	font-size:12px;
	text-transform:uppercase;
	line-height:15px;
	padding-top:20px;
	letter-spacing:1px;
	margin:0;
}
.make_a_reservation{
	height:45px;
	letter-spacing:2px;
	margin-left:8px;
	margin-top:10px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
.content h4{
	font-size:60px;
}
.content h3{
	font-size:15px;
}
.content h2{
	font-size:20px;
}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
#menu li {
	display: block !important;
}
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
#menu li {
	display: block !important;
}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {/**/}