/*   
Theme Name: restaurant
Theme URI: http://localhost/
Description: тема_ресторан
Author: Владислав
Author URI: 
Template: 
Version:1.0
*/

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	margin:0;
	padding:0;
	font-family:'Open sans';
}
#header {
	position: absolute;
	left: 0;
	right: 0;
	top:40px;
	z-index: 99999;
}
.admin-bar #header {
	top:80px;
}
.home_page{
	display:block;
	margin:0;
	padding:0;
	width:100%;
	height:800px;
	background-image: url("images/bg.png");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment:fixed;
}
.container_header{
	padding-top:45px;
	margin: 0 auto;
}
.container_header a{
	text-decoration:none;
}
#menu,#menu2{
	display: block;
	margin: 0 auto;
	text-transform:uppercase;
	outline:none;
	width:850px;
	float:none;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	text-align:center;
}
 #menu2{
	float:right;
}
#menu li,#menu2 li { 
	display: inline-block;
	position: relative; 
	list-style-type: none;
	font-size:18px;
	letter-spacing:1px;
	font-weight:600;
 }
 #menu li,#menu2 li:first-child {
	 margin: 0;
 }
 #menu2 > li {
 margin-left: 20px; 	
 }
#menu li a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding:10px;
	list-style-type: none;
	margin: 0 auto;
}
#menu li:hover > a { 
	color: #000; 
	background: #fff; 
}
#menu ul, #menu2 ul{
	position: absolute;
	top: 60px;
	min-width: 160px;
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	color:#000;
	background-color:#fff;
}

#menu2 ul :before{
	content:"";
	position:absolute;
	top:-15px;
	left:0;
	height:15px;
	width:100%;

}
#menu ul :before{
	content:"";
	position:absolute;
	top:-15px;
	left:0;
	height:15px;
	width:100%;
}

 #menu2 ul{
	top: 90px;
	border:2px solid #ccc;
}
#menu ul a, #menu2 ul a {
	color:#000;
	width:160px;
	margin-top:7px;
	margin:0 auto;
	font-size:12px;
	text-align:left;
}
#menu ul li a,#menu2 ul li a {
	display: block;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#menu ul li a:hover {
	background: #d02849; color:#fff;
}

#menu2 > li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 27px 10px;
	list-style-type: none;
}
#menu2 li:hover > a, #menu2 ul li a:hover { 
	color: #fff; 
	background:#d02849; 
}


#menu2 ul a{
	padding:13px 8px;
}

.menu_button {
	background-color:#EAEDEF;
	border:none;
	font-size: 30px;
	color:#d02849;
	margin-top:35px;
	outline: none;
	position: relative;
	margin: 0 0 0 50%;
	left: -15px;
}
.menu_button:focus{
	color:#fff;
	background-color:#d02849;
}
.logo{
	display : block-inline;
	text-align:center;
	padding-top:200px;
	line-height:10px;
	padding-bottom:40px;
}
.logo h1{
	padding:0;
	margin:0;
	font-family: 'Yesteryear', cursive;
	color:#fff;
	font-size:50px;
	font-weight:100;
	line-height:40px;
}
.logo h2,.footer_container h2{
	padding:0;
	margin:0;
	text-transform:uppercase;
	letter-spacing:6px;
	color:#fff;
	font-size:13px;
	font-weight:100;
}
.content{
	text-align:center;
}
.content h4{
	padding:0;
	margin:0;
	font-family: 'Yesteryear', cursive;
	color:#fff;
	font-size:95px;
	font-weight:100;
}
.content h3,.content h2{
	color:#fff;
	padding-bottom:30px;
}
.content h2{
	font-size:20px;
}
.content h3{
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	letter-spacing:1px;
}
.hvr-bounce-to-right,.download_button,.submit_button{
	height:60px;
	width:230px;
	text-transform:uppercase;
	font-size:15px;
	font-weight:700;
	letter-spacing:2px;
	border:none;
	border-radius:5px;
	color:#fff;
	outline:none;
	border-color:transparent;
	background-color:#d02849;
	overflow:hidden;
}
.download_button{
	height:40px;
	width:320px;
	text-transform:uppercase;
	margin:0 auto;
}
.submit_button{
	height:40px;
	width:180px;
	text-transform:uppercase;
	margin:0 auto;
}
.hvr-bounce-to-right,.download_button,.submit_button{ 
	 display: inline-block; 
	 vertical-align: middle; 
	 -webkit-transform: translateZ(0); 
	 transform: translateZ(0); 
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0); 
	 -webkit-backface-visibility: hidden; 
	 backface-visibility: hidden; 
	 -moz-osx-font-smoothing: grayscale; 
	 position: relative; 
	 -webkit-transition-property: color; 
	 transition-property: color; 
	 -webkit-transition-duration: 0.5s; 
	 transition-duration: 0.5s; 
	 border:none;
	border-radius:5px;
} 
.download_button{
	display:block;
} 
.submit_button{
margin-top:50px;
}
.hvr-bounce-to-right:before,.download_button:before, .submit_button:before{ 
	 content: ""; 
	 position: absolute; 
	 z-index: -1; 
	 top: 0; 
	 left: 0; 
	 right: 0; 
	 bottom: 0; 
	 background:#EAEDEF; 
	 -webkit-transform: scaleX(0); 
	 transform: scaleX(0); 
	 -webkit-transform-origin: 0 50%; 
	 transform-origin: 0 50%; 
	 -webkit-transition-property: transform; 
	 transition-property: transform; 
	 -webkit-transition-duration: 0.5s; 
	 transition-duration: 0.5s; 
	 -webkit-transition-timing-function: ease-out; 
	 transition-timing-function: ease-out; 
	 border:none;
	 border-radius:5px;
} 
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active,
.download_button:hover, .download_button:focus, .download_button:active,
.submit_button:hover, .submit_button:focus, .submit_button:active 
{ 
	color:#000; border:none; border-radius:5px;
} 
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before,
.download_button:hover:before, .download_button:focus:before, .download_button:active:before,
.submit_button:hover:before,.submit_button:focus:before, .submit_button:active:before
 { 
	-webkit-transform: scaleX(1); 
	transform: scaleX(1); 
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); 
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); 
	border:none;
	border-radius:5px;
}
.about_us{
	display:block;
	padding:0;
	margin:0;
	height:1054px;
}
.container_1_m2{
	height:80px;
	border-bottom:2px solid #ccc;
}

.logo2{
	display:block;
	float:left;
	padding-left:40px;
	padding-top:13px;
	margin:0;
}
.logo2 h3{
	font-size:40px;
	color:#000;
	font-family: 'Yesteryear', cursive;
	padding-top:10px;
	margin:0;
	font-weight:600;
	line-height:20px;
}
.logo2 h2{
	font-size:15px;
	text-transform:uppercase;
	color:#000;
	letter-spacing:6px;
	margin:0;
	text-align:center;
}
#menu2 {
	display: block;
	margin: 0 auto;
	text-transform:uppercase;
	outline:none;
	float:right;
	font-family: 'Open Sans', sans-serif;
}

#menu2 > li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 27px 10px;
  list-style-type: none;
}
#menu2 li:hover > a { 
	color: #fff; 
	background:#d02849; 
}

#menu2 ul {
	position: absolute;
	top: 90px;
	min-width: 160px;
	display:none;
	list-style: none;
	color:#000;
	background-color:#fff;
	border:2px solid #ccc;
	padding:0;
}
#menu2 ul a{
	padding:13px 8px;
}
#menu2 ul li a:hover {
	background: #d02849; color:#fff;
}
#navigation.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	background-color:#fff;
	z-index:10;
}
.menu_button2 {
	background-color:transparent;
	border:none;
	font-size: 30px;
	color:#d02849;
	outline: none;
	margin: 30px 0 0 50%;
	position: relative;
	left:-15px;
}
.menu_button2:focus{
	background-color:#d02849; color:#fff;
}
.content_2{
	width:100%;
	padding-top:130px;
	padding-bottom:100px;
}
.content_2 h1{
	text-align:center;
	font-family: 'Yesteryear', cursive;
	font-size:60px;
	font-weight:100;
	margin:0;
}
.content_2 h2{
	text-align:center;
	font-size:20px;
	font-weight:100;
	text-transform:uppercase;
}
.colortext{
	color:#EE3B3B;
}
.spectrum,.work,.call_us,.location{
	display:block;
	padding-top:10px;
}

.spectrum h3,.work h3,.call_us h3,.location h3{
	font-size:20px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
	padding-left:60px;
}
.spectrum img, .work img,.call_us img,.location img{
	float:left;
	padding-top:17px;
}
.spectrum h2,.work h2,.call_us h2,.location h2{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	line-height:30px;
	padding-left:60px;
	color:#5a5a5a;
}

.more,.all_gallery_button{
	display:block;
	width:200px;
	height:40px;
	border-radius:5px;
	outline:none;
	border-color:#d02849;
	background-color:#fff;
	text-transform:uppercase;
	font-family: 'Open Sans';
	font-weight:600;
	letter-spacing:1px;
	-webkit-transition: all 0.3s linear;
}
.all_gallery_button{
	margin: 0 auto;
}
.more:hover,.all_gallery_button:hover{
	background-color:#d02849;
	color:#fff;
}

.calltoaction{
	background-color:#d02849;
	height:120px;
	padding:0;
	margin:0;
	width:100%;
}
.calltoaction h2{
	font-family: 'Open Sans';
	font-size:20px;
	text-transform:uppercase;
	color:#fff;
	padding-top:35px;
	font-family: 'Open Sans';
	font-weight:100;
	letter-spacing:1px;
}
.make_a_reservation{
	height:60px;
	width:260px;
	text-transform:uppercase;
	font-size:15px;
	font-weight:700;
	letter-spacing:2px;
	border:none;
	border-radius:5px;
	color:#fff;
	outline:none;
	border-color:transparent;
	background-color:#000;
	overflow:hidden;
	margin-left:30px;
	margin-top:33px;
	float:right;
}
.button_all_team{
	height:45px;
	width:160px;
	text-transform:uppercase;
	font-size:15px;
	font-weight:700;
	letter-spacing:2px;
	border:none;
	border-radius:5px;
	color:#fff;
	outline:none;
	border-color:transparent;
	background-color:#d02849;
	overflow:hidden;
}
.make_a_reservation,.button_all_team{ 
	 display: inline-block; 
	 vertical-align: middle; 
	 -webkit-transform: translateZ(0); 
	 transform: translateZ(0); 
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0); 
	 -webkit-backface-visibility: hidden; 
	 backface-visibility: hidden; 
	 -moz-osx-font-smoothing: grayscale; 
	 position: relative; 
	 -webkit-transition-property: color; 
	 transition-property: color; 
	 -webkit-transition-duration: 0.5s; 
	 transition-duration: 0.5s; 
	 border:none;
	border-radius:5px;
} 
.make_a_reservation:before, .button_all_team:before { 
	 content: ""; 
	 position: absolute; 
	 z-index: -1; 
	 top: 0; 
	 left: 0; 
	 right: 0; 
	 bottom: 0; 
	 background:#EAEDEF; 
	 -webkit-transform: scaleX(0); 
	 transform: scaleX(0); 
	 -webkit-transform-origin: 0 50%; 
	 transform-origin: 0 50%; 
	 -webkit-transition-property: transform; 
	 transition-property: transform; 
	 -webkit-transition-duration: 0.5s; 
	 transition-duration: 0.5s; 
	 -webkit-transition-timing-function: ease-out; 
	 transition-timing-function: ease-out; 
	 border:none;
	border-radius:5px;
} 
.make_a_reservation:hover,.make_a_reservation:focus,.button_all_team:hover,.button_all_team:focus{ 
	 color:#000; 
	 border:none; 
	 border-radius:5px;
} 
.make_a_reservation:hover:before, .make_a_reservation:focus:before, .make_a_reservation:active:before,
.button_all_team:hover:before, .button_all_team:focus:before, .button_all_team:active:before { 
	 -webkit-transform: scaleX(1); 
	 transform: scaleX(1); 
	 -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); 
	 transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); 
	 border:none;
	 border-radius:5px;
}
.our_team{
	display:block;
	color:#fff;
	background-image: url("./images/bg_3.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size:cover;
	height:1100px;
}

.team{
	display:block;
	padding-top:90px;
	text-align:center;
}
.team h1,.content_people h1,.gallery h1,.menu_spectrum h1,.contact h1,.footer_container h1{
	 font-family: 'Yesteryear', cursive;
	 font-size:60px;
	 font-weight:100;
	 margin:0;
}
.content_people h1{
	padding-bottom:70px;
}
.chief_sous,.chief_cook,.chief_sous2 {
	padding:30px 40px 0 40px ;
}
.chief_sous h2,.chief_cook h2,.chief_sous2 h2{
	display:block;
	font-size:19px;
}
.chief_sous h3,.chief_sous2 h3,.chief_cook h3{
	display:block;
	font-size:15px;
	color:#848483;
	font-weight:600;
}
.chief_sous h4,.chief_sous2 h4,.chief_cook h4{
	display:block;
	font-size:15px;
	color:#b1b1ae;
	line-height:20px;
}
.people_talk_about_us{
	display:block;
	color:#000;
	height:560px;;

}
.content_people{
	display:block;
	padding-top:40px;
	text-align:center;
}
.people_group_1 h2,.people_group_2 h2{
	display:block;
	font-size:12px;
	text-transform:uppercase;
	font-family: 'Open Sans';
	letter-spacing:1px;
	font-weight:700;
}
.people_group_1 img,.people_group_2 img{
	width:79px;
	height:79px;
}
.sider_container, .team_sider_container{
	position: relative;
	padding-left:150px;
	padding-right:150px;
	padding-top:50px;
	margin-bottom:80px;
    }
.team_sider_container{
	padding-left:10px;
	padding-right:10px;
	margin-bottom:40px;
}
.carousel p{
	color:#828282;
	text-align:center;
	line-height:30px;
	font-family: 'Open Sans';
	font-style:italic;
	letter-spacing:1px;
}

.next_button,.prev_button {
	color:#828282;
	cursor: pointer;
	font-size: 30px;
	padding: 0 25px;
	position: absolute;
	top: 50%;
	z-index: 3;
}
.next_button {
	right:5px;
}
.prev_button {
	left:5px;
}
.gallery_content{
	display:block;
	width:100%;
	background-image: url("images/bg_4.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment:fixed;
	height:1000px;
}
.gallery{
	display:block;
	text-align:center;
	padding-top:90px;
	text-transform:capitalize;
}
.thumb img { 
     filter: none; /* IE6-9 */ 
     -webkit-filter: grayscale(0); 
     border-radius:5px;
	 padding:10px;
    } 
    .thumb img:hover {
    -webkit-filter: grayscale(1); 
 } 
    .thumb { 
      padding:5px; 
    } 
.gallery_container{
	padding:50px 0 50px 0;
}
.menu_content{
	display:block;
	width:100%;
	height:1000px;
	background-image: url("images/bg_5.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment:fixed;
	font-family:'Open sans';
}
.menu_spectrum{
	display:block;
	text-align:center;
	padding-top:90px;
	text-transform:capitalize;
	color:#fff;
}
.menu_spectrum h2{
	padding-top:20px;
	font-size:25px;
	font-family: 'Open sans';
	font-weight:100;
}
.food_content{
	display:block;
	color:#fff;
	padding-top:50px;

}
.food{
	display:block;
}
.food_content h3{
	text-transform:capitalize;
	font-family:'Open sans';
	font-size:13px;
	line-height:20px;
	color:#828282;
	margin:0;
	padding:0;
}
.food_content h4{
	text-transform:uppercase;
	font-size:20px;
	color:#EE3B3B;
	font-weight:900;
}
.food_content h2{
	text-transform:uppercase;
	font-family:'Open sans';
	font-size:15px;
}
.food_content img{
	float:left;
	padding:30px 15px 40px 0;
	width: auto;
	height: auto;
}
.contact_us{
 display:block;
 width:100%;
 height:940px;
}
.contact{
 display:block;
 height:760px;
 width:100%;
 border:2px solid #000;
 margin:80px 0 80px 0 ;
 text-align:center;
 text-transform:none;
}
.contact img{
 padding:50px 0 50px 0;
}

.wpcf7-form-control-wrap input{
 font-family:'Open sans';
 text-transform:none;
 border:none;
 border-bottom:1px solid #828282;
 text-align:left;
 width:50%;
 outline:none;
 font-weight:900;
}
input.wpcf7-not-valid{
	border-bottom: 1px solid red !important;
}
.footer{
	display:block;
	width:100%;
	height:540px;
	background-image: url("images/bg_6.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size:cover;	
	font-family:'Open sans';
}
.footer_container{
	padding-top:100px;
	display:block;
	color:#fff;
	text-align:center;
}
#menu-menu-3 a,.textwidget a{
	display:block;
	color:#fff;
	text-transform:uppercase;
	font-size:15px;
	padding:0;
	letter-spacing:1px;
}
.textwidget h3,.textwidget h4{
	display:block;
	color:#fff;
	text-transform:uppercase;
	font-size:15px;
	padding:0;
	letter-spacing:1px;
	text-align:center;
}
#menu-menu_widget a{
	display:block;
	color:#fff;
	text-transform:uppercase;
	font-size:15px;
	padding: 0 0 15px 0;
	letter-spacing:1px;
	color:#ccc;
	text-align:center;
}
#menu-menu_widget a:hover{
	text-decoration: underline;
}
.textwidget h4{
	line-height:20px;
	text-transform:none;
	padding-top:15px;
}
.textwidget p:hover{
	color:#d02849;
	cursor:pointer;
}
.textwidget i{
	text-transform:lowercase;
	font-size:14px;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	cursor:pointer;
}
.textwidget i:hover{
	color:#0000FF;
}
.textwidget a{
	text-transform:lowercase;
	font-size:12px;
	text-align:center;
}
#form-query{
	color:#fff;
	font-size:15px;
	line-height:50px;
	cursor:text;
	border:none;
	border-bottom:1px solid #828282;
	background-color:transparent;
	width:80%;
	padding-top:20px;
	outline:none;
}
.footer_black{
	display:block;
	background-color:#000;
	width:100%;
	height:40px;
	padding:0;
}
.footer_black h2{
	float:left;
	color: #828282;
	font-size:15px;
	line-height:1px;
}
#toTop {
	position: fixed; /* фиксированная позиция */
	padding: 15px 10px 10px; /* отступы */
	opacity:0.9;
	right:5%; /* отступ слева */
	bottom: 50px; /* отступ снизу */
	display: none; /* спрятать блок */
	cursor: pointer;
	font-size:50px;
	z-index:15;
	color: #d02849;
}
#toTop:hover {
	color:#000;
}
.sub-menu,.menu-item{
list-style-type:none;
}
.menu{
	padding: 0px 0 17px 0;
}
.wpcf7-not-valid-tip{
	position: absolute;
}
.contact_us{
	display:block;
	width:100%;
	height:940px;
}
.contact{
	display:block;
	height:760px;
	width:100%;
	border:2px solid #000;
	margin:80px 0 80px 0 ;
	text-align:center;
	text-transform:none;
}
.contact img{
	padding:50px 0 50px 0;
}
p.wpcf7-form-control-wrap span.wpcf7-not-valid-tip{

}


.wpcf7-form-control-wrap input{
	font-family:'Open sans';
	text-transform:none;
	border:none;
	border-bottom:1px solid #828282;
	padding:30px;
	text-align:left;
	width:50%;
	outline:none;
	font-weight:900;
}

textarea.wpcf7-form-control.wpcf7-textarea{
	min-height: 100px;
	resize: none;
	font-family:'Open sans';
	text-transform:none;
	border:none;
	border-bottom:1px solid #828282;
	padding:30px;
	text-align:left;
	width:50%;
	outline:none;
	font-weight:900;
	height: 81px;
	max-height:30%;
}
/* Button form and subcribe*/
.submit_button, input.wpcf7-form-control.wpcf7-submit{
	height:60px;
	width:230px;
	text-transform:uppercase;
	font-size:15px;
	font-weight:700;
	letter-spacing:2px;
	border:none;
	border-radius:5px;
	color:#fff;
	outline:none;
	border-color:transparent;
	background-color:#d02849;
	overflow:hidden;
}
.submit_button, input.wpcf7-form-control.wpcf7-submit{
	height:40px;
	width:180px;
	text-transform:uppercase;
	margin:0 auto;
}
.submit_button, input.wpcf7-form-control.wpcf7-submit{
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	border:none;
	border-radius:5px;
}
.submit_button:before, input.wpcf7-form-control.wpcf7-submit:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background:#EAEDEF;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	border:none;
	border-radius:5px;
}
.submit_button:hover, .submit_button:focus, .submit_button:active,
input.wpcf7-form-control.wpcf7-submit:hover, input.wpcf7-form-control.wpcf7-submit:focus, input.wpcf7-form-control.wpcf7-submit:active
{
	color:#000; border:none; border-radius:5px;
}
.submit_button:hover:before,.submit_button:focus:before, .submit_button:active:before,
input.wpcf7-form-control.wpcf7-submit:hover, input.wpcf7-form-control.wpcf7-submit:focus, input.wpcf7-form-control.wpcf7-submit:active
{
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	border:none;
	border-radius:5px;
}
.submit_button {
	margin-top: 25px;
	margin-bottom: 25px;
}
input.wpcf7-form-control.wpcf7-submit{
	margin-bottom: 30px;
}